

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  margin: 4rem 0 8rem;
  text-wrap: balance;
  text-align: center;
}

h1 {
    padding: 0.3rem 0;
    max-height: none;
    max-width: none;
    font-size: 2.6vw;
    font-weight: 600;
    font-family: var(--sans-serif);
    line-height: 1;
    background: rgb(22,22,22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero h1 {
  padding: 0.8rem 0;
  max-width: none;
  font-size: 4vw;
  font-weight: 900;
  background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
    margin: 0;
    max-width: 34em;
    font-size: 20px;
    font-style: initial;
    font-family: var(--sans-serif);
    font-weight: 500;
    line-height: 1.5;
    color: var(--theme-foreground-muted);
  }

nav {
    padding-left: 80px !important;
    max-width: 380px;
}

.datasource {
    font-size: 12px;       /* Font più piccolo */
    color: #808080;        /* Colore grigio */
    font-family: var(--sans-serif); /* Font sans-serif */
    font-weight: 500;      /* Peso del font */
    line-height: 1.5;      /* Altezza della linea */
    max-width: 34em;       /* Larghezza massima */
    font-style: initial;
}

.break {
    width: 100%;
    height: 0px;
    margin: 20px 0px;

}